.feature {
	
	position: relative;
	z-index: -1;
	

	@mixin atMedium {
		padding-left: 60px;
	}



	&__icon {
		position: absolute;
		left: 20;
		font-size: 40px;
		color: #cccccc;
		line-height: 1;
	}


	&__title {
		margin: 0px 0 21px 20px;
		padding: 8px 0 0 42px;
		font-size: 1.375rem;
		color: #FF5126;
	}
}