



/*nav demo*/




.wrapper {

	
	background-image: url(images/comp.jpeg);
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
	font-family: 'Roboto' sans-serif;


	&__title {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-90%);
		width: 100%;
		text-align: center;
		font-weight: 300;
		font-size: 2.8rem;
		color: #BBB; 

		@mixin atMedium {
			font-size: 3rem;

		}
	}

	&__subtitle {
		position: absolute;
		top: 57%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		text-align: center;
		font-weight: 300;
		font-size: 1.1rem;
		color: #BBB;

		@mixin atMedium {
			font-size: 1.8rem;
		}
	}
	
}



.nav {
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 15px;
	

	@mixin atMedium {
	position: absolute;
	transform: translateY(35%);
	height: 50px;
	display: inline-block;

	}

}


.logo {
	
	letter-spacing: 1px;
	float: left;
	color: #FFF;
	font-size: 22px;
	line-height: 0px;
	padding: 0 1em;
	height: 50px;

	@mixin atSmall {
		line-height: 50px;
	}


	a {
		margin: 0;
		padding: 0;
		color: #BBB;
		text-decoration: none;
	}



}






.menu {
	float: right;
	line-height: 50px;
	margin: 0 3em;
	display: none;

	@mixin atMedium {
		display: block;
	}

}

.menu ul {
	list-style: none;
	}

.menu ul li {
	display: inline-block;
}


.menu ul li a {
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: 400;
	padding: 20px;


}


.login  {
	float: right;
	display: inline-block;
	color: #009f8b;
	border: 1px solid #009f8b;
	clear: both;
	border-radius: 4px;
}

.menu ul li:nth-child(5) a {
	color: black;
	border: 2px solid black;
	padding: 10px 20px;
	border-radius: 4px;
}



/*no overlaping the wp admin bar*/
.admin-bar .nav {
  top: 32px;
}