.wrapper {
	padding: 0 45px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1236px;
	overflow: hidden;
	z-index: 8;


	@mixin atSmall {
		padding:  0 60px;
	}


&__testimonials {

	padding: 0 1px 0 0;
	

	@mixin atSmall {
		padding: 0 25px;
	}
}

}