html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}





/* mixins*/


@define-mixin atSmall {
	@media(min-width: 580px) {
		@mixin-content;
	}
	
}


@define-mixin atMedium {
	@media(min-width: 980px) {
		@mixin-content;
	}
	
}



@define-mixin atLarge {
	@media(min-width: 1200px) {
		@mixin-content;
	}
	
}


