html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  
}


* {
	box-sizing: border-box;
}


/* mixins*/


@define-mixin clearfix {
	&::after {
		content: "";
		clear: both;
		display: table;	
	}
}


@define-mixin atSmall {
	@media(min-width: 580px) {
		@mixin-content;
	}
	
}


@define-mixin atMedium {
	@media(min-width: 980px) {
		@mixin-content;
	}
	
}



@define-mixin atLarge {
	@media(min-width: 1200px) {
		@mixin-content;
	}
	
}


nav {
	z-index: 22;
}


p {
	color: black;
	line-height: 1.65rem;
	margin: 0 0 1.65em 0;
	font-size: 1.2rem;
	font-weight: 300;
}


